*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  width: 100%;
  color: black;
  background: white;
  overflow: hidden;
  background-image: url(../../../a-projet_rouge/image/solid-concrete-wall-textured-backdrop.jpg);
}
body a {
  width: 20%;
}
body a img {
  padding: 0;
  width: 20%;
}
body .box {
  margin: auto;
  width: 500px;
  height: auto;
  padding: 25px;
}
body .box h3 strong {
  color: #82C172;
  font-weight: 900;
}
body .box .formBloc h3 {
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 45px;
  text-align: center;
}
body .box .formBloc .formGroupe {
  position: relative;
  display: flex;
  margin-bottom: 50px;
}
body .box .formBloc .formGroupe label {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.4s ease-out;
}
body .box .formBloc .formGroupe input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: rgb(255, 255, 255);
  font-size: 20px;
  transition: 0.4s ease-out;
}
body .box .formBloc .formGroupe .button {
  display: block;
  width: auto;
  padding: 15px 60px;
  border: 3px solid #8b97d7;
  border-radius: 999px;
  background-image: linear-gradient(to right, transparent 50%, #5260ad 50%, #8b97d7);
  background-size: 200%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
}
body .box .formBloc .formGroupe .button:hover {
  color: #fff;
  background-position: 100%;
  border: none;
}
body .box .formBloc .formGroupe:focus-within label {
  top: 0px;
  transform: translateY(-100%);
  color: #8b97d7;
}
body .box .formBloc .formGroupe:focus-within input {
  border-bottom-color: #8b97d7;
}
body .box .formBloc .formGroupe.animation label {
  top: 0px;
  transform: translateY(-100%);
  color: #092cef;
}
body .box .formBloc .formGroupe.animation input {
  border-bottom-color: #ffffff;
}
body .box .formGroupe:nth-child(4) {
  margin-bottom: 65px;
  justify-content: center;
}
body footer a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
  position: absolute;
  left: 95%;
  top: 95%;
  color: white;
  z-index: 20;
}