body {
  height: 80vh;
  background-image: url(../../../a-projet_rouge/image/solid-concrete-wall-textured-backdrop.jpg);
}

.suite {
  width: 40%;
}
.suite a {
  text-decoration: none;
  font-size: 28px;
  font-weight: 500;
  position: absolute;
  left: 79%;
  top: 88%;
  color: white;
}